{% extends "template.html" %}
{% import "macros.jinja" as macros %}

{% block body %}


<div class="col-lg-12 mb-3">
    <section class="widget shadow-01 mb-4" id="widget-01">
        <div class="widget-block">

        <header>
            <h3>Cost Centers</h3>
            <p class="text-muted">
                Add or edit new cost centers
            </p>
        <div class="widget-content py-3">
            <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for cc in cost_centers.items %}
            <tr>
                <th scope="row">{{cc.id}}</th>
                <td>{{cc.company_name}}</td>
                <td><a href="{{cc.id}}">View</a></td>
                <td><a href="{{cc.id}}/edit">Edit</a></td>
                <td><a href="{{cc.id}}/delete">Delete</a></td>
            </tr>
            {% endfor %}

            </tbody>
            </table>
        </div>

        {{ macros.render_pagination(cost_centers, "costcenter_browser") }}
        </div>

        

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Add new cost center
              </button>
    </section>
    </div>


<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            {% include "default-form.html" %}
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

        </div>
    </div>
</div>



{% endblock %}
