{% extends "template.html" %}
{% import "macros.jinja" as macros %}

{% block body %}

<div class="content-wrapper">
  
        <div class="content-body">
          <section class="card">
            <div id="invoice-template" class="card-body">
              <!-- Invoice Company Details -->
              <div id="invoice-company-details" class="row">
                <div class="col-md-6 col-sm-12 text-center text-md-left">
                  <div class="media">
                    <div class="media-body">
                      <ul class="px-0 list-unstyled">
                        <li class="text-bold-800">{{ invoice.invoice_sender.company_name }}</li>
                        <li>{{ invoice.invoice_sender.street }}</li>
                        <li>{{ invoice.invoice_sender.zip_code }} {{ invoice.invoice_sender.city }}</li>
                        <li>{{ invoice.invoice_sender.state }}</li>
                        <li>{{ invoice.invoice_sender.country }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-right">
                  <h2>INVOICE</h2>
                  <p class="pb-3"># INV-000{{ invoice.id }}</p>
                
                </div>
              </div>
              <!--/ Invoice Company Details -->
              <!-- Invoice Customer Details -->
              <div id="invoice-customer-details" class="row pt-2">
                <div class="col-sm-12 text-center text-md-left">
                  <p class="text-muted">Bill To</p>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-left">
                  <ul class="px-0 list-unstyled">
                    <li class="text-bold-800">{{ invoice.cost_center.company_name }}</li>
                    <li>{{ invoice.cost_center.street }}</li>
                    <li>{{ invoice.cost_center.zip_code }} {{ invoice.cost_center.city }}</li>
                    <li>{{ invoice.cost_center.state }}</li>
                    <li>{{ invoice.cost_center.country }}</li>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-right">
                  <p>
                    <span class="text-muted">Invoice Date:</span> {{ invoice.sent_date.strftime('%Y-%m-%d') }} </p>
                  <p>
                    <span class="text-muted">Status:</span>
                    {% if invoice.is_sent() %}
                        Sent 
                    {% else %}
                        Pending
                    {% endif %}
                  </p>

                    
                 </div>
              </div>
              <!--/ Invoice Customer Details -->
              <!-- Invoice Items Details -->
              <div id="invoice-items-details" class="pt-2">
                <div class="row">
                  <div class="table-responsive col-sm-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Item &amp; Description</th>
                          <th class="text-right">Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>
                            <p>{{ invoice.note }} </p>
                           </td>
                          <td class="text-right">{{ invoice.amount }}€</td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
               
                  <div class="col-md-5 col-sm-12">
                    <p class="lead">Total due</p>
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td>Sub Total</td>
                            <td class="text-right">{{ invoice.amount }}&euro;</td>
                          </tr>
                          <tr>
                            <td>TAX (0%)</td>
                            <td class="text-right">0€ (reverse charge)</td>
                          </tr>
                          <tr>
                            <td class="text-bold-800">Total</td>
                            <td class="text-bold-800 text-right"> {{ invoice.amount }}&euro;</td>
                          </tr>
                        
                        </tbody>
                      </table>

                    {% if not invoice.is_sent() %}
                      <a href="send" class="btn btn-primary btn-lg my-1"><i class="fa fa-paper-plane-o"></i> Send Invoice</a>
                    {% endif %}
                    </div>
                 
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

{% endblock %}
