<div class="widget-block">
        <div class="widget-content">
           
            {% if form.errors %}
                {% for field, errors in form.errors.items() %}
                <div class="alert alert-error">
                    {{ form[field].label }}: {{ ', '.join(errors) }}
                </div>
                {% endfor %}
            {% else %}
                {% if request.method == "POST" %}
                    <div class="alert alert-success">Update successful</div>
                {% endif %}
            {% endif %}
            
            <form action="{{action}}"
                    method="post">
                    {{ form.csrf_token }}
    
                    {% for field in form %}
                        {% if field.id != "csrf_token" %}
                            <div class="form-group">
                                {{field.label(class="form-control-label")}}
                                {{field(class="form-control")}}
                            </div>
                        {% endif %}
                    {% endfor %}
    
                    <button type="submit">Submit</button>
            </form>
        </div>
    </div>