<div class="widget-block">
        <div class="widget-content">
            {% for field, errors in form.errors.items() %}
            <div class="alert alert-error">
                {{ form[field].label }}: {{ ', '.join(errors) }}
            </div>
            {% endfor %}
            
            <form action="{{action}}"
                    method="post">
                    {{ form.csrf_token }}
    
                    {% for field in form %}
                        {% if field.id != "csrf_token" %}
                            <div class="form-group">
                                {{field.label(class="form-control-label")}}
                                {{field(class="form-control")}}
                            </div>
                        {% endif %}
                    {% endfor %}
    
                    <button type="submit">Submit</button>
            </form>
        </div>
    </div>