<div class="widget-block">
        <div class="widget-content">
            <form action="{{action}}"
                    method="post">
    
                    {% for field in form %}
                    <div class="form-group">
                        {{field.label(class="form-control-label")}}
                        {{field(class="form-control")}}
                    </div>
                    {% endfor %}
    
                    <button type="submit">Submit</button>
            </form>
        </div>
    </div>